<div class="chat-more-block row">
  <div class="col-sm-4"><span class="chat-more"></span></div>
  <div class="col-sm-8 help-text">
    adsd
    <div  class="row text-area">
      <h2>
        Need<span class="mobile-bold"> More</span>
        <span class="text-bold"> Help?</span>
      </h2>
      <p class="chat-text">
        Chat with one of our<span class="line-break">
          Health Enthusiasts right now.</span
        >
      </p>
      <a
        href="javascript:void(0)"
        (click)="onPlpLiveChatClick()"
        class="chatbtn"
        >LIVE CHAT</a
      >
    </div>
    <div *ngIf="!chatAvailable" class="row text-area">
      <h2>Sorry, Chat is not available right now.</h2>
      <p class="chat-text">
        You can directly
        <a href="/u/contact-us.jsp" class="chatbtn">Contact Us</a>
      </p>
    </div>
  </div>
</div>
dasdadsa